nuxeo-survey-core/src/main/resources/schemas/question.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/surveyQuestion"
  xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nxs="http://www.nuxeo.org/ecm/schemas/surveyQuestion">

  <xs:simpleType name="stringArrayType">
    <xs:list itemType="xs:string" />
  </xs:simpleType>

  <xs:element name="question" type="xs:string" />
  <xs:element name="answers" type="nxs:stringArrayType" />

</xs:schema>