nuxeo-survey-core/src/main/resources/schemas/survey.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/survey/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/ecm/schemas/survery/">

  <xs:element name="start_date" type="xs:date" />
  <!--  for end_data  dc:expired will be used -->

  <xs:element name="introductionText" type="xs:string" />
  <xs:element name="finalText" type="xs:string" />

</xs:schema>